@import "../../SASS/utils/variables";
@import "../../SASS/base/base";
@import "../../SASS/utils/maps";
@import "../../SASS/utils/mixins";

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5% 7%;
}

.img-desktop {

    // Responsive
    @include mobile-only {
        display: none;
    }
}

.img-responsive {
    display: none;

    @include mobile-only {
        display: inline-block;
    }
}

// Menu de navigation
nav ul {
    list-style-type: none;
    display: flex;
    gap: 57px;

    // Responsive
    @include mobile-only {
        gap: 10px;
    }

    a {
        font-size: map-get($font-size , secondary-title);
        color: $color-primary;

        // Responsive
        @include mobile-only {
            font-size: map-get($font-size, responsive-text);
            text-transform: uppercase;
        }

    }


}