@import "../../SASS/utils/variables";
@import "../../SASS/base/base";
@import "../../SASS/utils/maps";
@import "../../SASS/utils/mixins";


.bloc-apropos {
    margin: 2% 7%;

    // Bloc container des collapses
    .bloc {

        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        margin: 5% 15%;

        // Responsive 
        @include mobile-only {
            margin: 5% 0% 33% 0%;
        }

        // Bloc d'une collapse
        .container {
            width: 100%;

            // Responsive
            @include mobile-only {
                width: 335px;
            }

            // Barre de titre
            .barre {
                width: 100%;
                height: 47px;
                background-color: $color-primary;
                border-radius: map-get($radius, border-components);
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: relative;
                z-index: 3;

                // Responsive
                @include mobile-only {
                    width: 335px;
                    height: 30px;
                }

                // Titre de la barre
                .titre-collapse {
                    color: $color-secondary;
                    font-weight: map-get($font-weight, text);
                    font-size: map-get($font-size , secondary-title);
                    padding-left: 2%;

                    // Responstive
                    @include mobile-only {
                        font-size: map-get($font-size , responsive-title);
                    }
                }

                // Bouton de ma barre
                .button-collapse {
                    background: none;
                    border: none;
                    color: $color-secondary;
                    padding-right: 2%;

                    //Responsive
                    @include mobile-only {
                        padding-right: 3%;
                    }

                    @include mobile-only {
                        img {
                            width: 16px;
                        }
                    }

                }



            }

            // Bloc de contenu de la collapse ouverte
            .bloc-contenu {
                border-radius: map-get($radius, responsive-components);
                background-color: $color-tertiary;
                width: 100%;
                margin-top: -5px;
                padding: 4% 3%;

                // Texte de la collapse ouvertes
                .text-contenu {
                    font-weight: map-get($font-weight , subtitle);
                    font-size: map-get($font-size , secondary-title);

                    // Responsive
                    @include mobile-only {
                        font-size: map-get($font-size , responsive-text);
                    }
                }
            }

        }

    }

}