@import "../../SASS/utils/variables";
@import "../../SASS/base/base";
@import "../../SASS/utils/maps";
@import "../../SASS/utils/mixins";

.gallery {
    background-color: $color-tertiary;
    border-radius: map-get($radius , border-image);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    padding: 5% 0%;
    margin: 5% 7%;

    // Responsive
    @include mobile-only {
        gap: 20px;
        background-color: transparent;
        margin: 0%;

    }

    li {
        list-style-type: none;
    }
}