@import "../../SASS/utils/variables";
@import "../../SASS/base/base";
@import "../../SASS/utils/maps";
@import "../../SASS/utils/mixins";

.slideshow {

    height: 415px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    border-radius: map-get($radius , border-image);

    // Responsive
    @include mobile-only {
        height: 255px;
    }

    // Blocs des chevrons
    &__container-chevrons {
        width: 100%;
        height: 415px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0% 3%;

        // Responsive bloc chevron
        @include mobile-only {
            width: 335px;
            height: 255px;
        }

        // Chevrons
        .chevron {
            color: $color-secondary;
            cursor: pointer;

            // Responsive 
            @include mobile-only {
                width: 15px;
            }

        }
    }

    // Nombre
    &__container-number {
        margin-top: -4%;
        color: $color-secondary;
        font-size: map-get($font-size , text);

        // Responsive
        @include mobile-only {
            display: none;
        }
    }
}