@import "../../SASS/utils/variables";
@import "../../SASS/base/base";
@import "../../SASS/utils/maps";
@import "../../SASS/utils/mixins";


.banner {
    border-radius: map-get($radius , border-image );
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 7% ;

        &__image{
            width: 100%;
            height: 223px;
            border-radius: map-get($radius , border-image);   
            filter: brightness(70%);  
            // Responsive
                @include mobile-only{
                    width: 335px;
                    height: 111px; 
                }
        }

            h1{
                position: absolute;
                color: $color-secondary;
                font-size: map-get($font-size , error );
                font-weight: map-get($font-weight , text );

                // Responsive
                @include mobile-only{
                    font-size: map-get($font-size , secondary-title );
                    padding: 5%;
                }
            
            }
}