@import "../../SASS/utils/variables";
@import "../../SASS/base/base";
@import "../../SASS/utils/maps";
@import "../../SASS/utils/mixins";

.cards{
    display: flex;
    align-items: flex-end;
    width: 340px;
    height: 340px;
    // Responsive
    @include mobile-only{
        width: 335px;
        height: 255px;
    }

    img{
    border-radius: map-get($radius , border-components );
       width: 100%;
       height: 100%;
       object-fit: cover;
       filter: brightness(85%); 
    }

    h2{
        font-size: map-get($font-size , text );
        font-weight: map-get($font-weight , text );
        color: $color-secondary;
        padding: 20px;
        width: 300px;
        position: absolute;
    }
}