@import "../../SASS/utils/variables";
@import "../../SASS/base/base";
@import "../../SASS/utils/maps";
@import "../../SASS/utils/mixins";

.star{
    margin-top: 8%;
    padding-right: 10px;
    font-size: 30px;
}