@import "../../SASS/utils/variables";
@import "../../SASS/base/base";
@import "../../SASS/utils/maps";
@import "../../SASS/utils/mixins";

.star {
    margin-top: 8%;
    padding-right: 10px;
    font-size: 30px;

    // Responsive
    @include mobile-only {
        font-size: map-get($font-size , responsive-tag);
        padding-right: 5px;
    }
}

.star-grises {
    margin-top: 8%;
    padding-right: 10px;
    font-size: 30px;
    color: $color-tertiary;

    // Responsive
    @include mobile-only {
        font-size: map-get($font-size , responsive-tag);
        padding-right: 5px;
    }
}