@import "../../SASS/utils/variables";
@import "../../SASS/base/base";
@import "../../SASS/utils/maps";
@import "../../SASS/utils/mixins";

.slideshow {

    height: 415px;
    display: flex;
    align-items: center;
    flex-direction: column;
    // Responsive
    @include mobile-only{
        height: 255px;
    }
 
// Flèches 
    &__container-chevrons{
        width: 1240px;
        height: 415px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0% 5%;
        position: absolute;    
 // Responsive bloc chevron
        @include mobile-only {
        width: 335px;
        height: 255px;
    }
    .chevron{
        color: $color-secondary;
        font-size: 60px;
        cursor: pointer;
        // Responsive 
        @include mobile-only {
        font-size: 30px;
    }

           }
                }
// Images
                &__container-image{
    
                    .images-slide{         
                        border-radius: map-get($radius , border-image );
                        width: 1240px;
                        height: 415px;
                        object-fit: cover;
                        // Responsive bloc image 
                        @include mobile-only{
                        width: 335px;
                        height: 255px;
                    }

                       } 
                }

                    &__container-number{
                        margin-top: -4% ;
                        color: $color-secondary;
                        font-size: map-get($font-size , text );
                        // Responsive
                        @include mobile-only{
                            display: none;
                        }
                    }
}