@import "../../SASS/utils/variables";
@import "../../SASS/base/base";
@import "../../SASS/utils/maps";
@import "../../SASS/utils/mixins";

.slideshow {
    width: 1240px;
    height: 415px;
    position: relative;
    overflow: hidden;
    

    &__container-images{
        display: flex;
        flex-direction : row;
        width: 100%;
        height: 100%;
        .images-slide{         
            border-radius: map-get($radius , border-image );
           } 
    }

    &__container-chevrons{
        width: 1240px;
        height: 415px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;

    .chevron{
        color: $color-secondary;
        font-size: 60px;
        cursor: pointer;

    }
                }
}