@import "../../SASS/utils/variables";
@import "../../SASS/base/base";
@import "../../SASS/utils/maps";
@import "../../SASS/utils/mixins";

h3{
    text-align: center;
    padding: 3px 0px 2px 0px;
    color: $color-secondary;
    font-size: map-get($font-size , tag );
    font-weight: map-get($font-weight , text );
    background-color: $color-primary;
    border-radius: map-get($radius , border-components );
    width: 115px;
    height: 25px;
    @include mobile-only {
        font-size: map-get($font-size , responsive-tag );
        width: 84px;
        height: 18px;
        border-radius: map-get($radius, responsive-components );
        padding: 2px 0px 1.8px 0px;
    }

}