// Typographie
$font-size: (responsive-tag:10px, responsive-text:12px, responsive-title:13px, tag: 14px, text:18px, secondary-title:24px, main-title:36px, error: 48px);
$font-weight: (subtitle: 400, text: 500, error:700);

// Border radius
$radius: (border-image:25px, border-components: 10px, responsive-components:5px);


// Responsive
$breakpoints: (mobile: 599px);