* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #FF6060;
}

a {
  text-decoration: none;
}

.gallery {
  background-color: #F6F6F6;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  padding: 56px 0px;
  margin: 5% 7%;
}
@media screen and (max-width: 599px) {
  .gallery {
    gap: 20px;
    background-color: transparent;
  }
}
.gallery li {
  list-style-type: none;
}