* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #FF6060;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5% 7%;
}

@media screen and (max-width: 599px) {
  .img-desktop {
    display: none;
  }
}

.img-responsive {
  display: none;
}
@media screen and (max-width: 599px) {
  .img-responsive {
    display: inline-block;
  }
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 57px;
}
@media screen and (max-width: 599px) {
  nav ul {
    gap: 10px;
  }
}
nav ul a {
  font-size: 24px;
  color: #FF6060;
}
@media screen and (max-width: 599px) {
  nav ul a {
    font-size: 12px;
    text-transform: uppercase;
  }
}